body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .table-row-light {
    background-color: #f2f2f2; /* Light grey background for even rows */
  }
  
  .table-row-dark {
    background-color: #ffffff; /* Cream background for odd rows */
  }
  
  .year-table {
    background-color: rgb(186, 184, 184);
    padding: 2px;
    margin: 30px;
    border-radius: 10px;
    width: 95%;
  }
  
  .year-table th,
  .year-table td {
    padding: 8px;
    text-align: left;
  }
  
  .year-table th {
    background-color: rgb(247, 190, 85);
    color: white;
  }
  
  